# Ignore everything

*
.gitignore
**/.DS_Store
**.log
# Except these
!*/
!AUTHORS
!NEWS
!README
!INSTALL
!COPYING
!ChangeLog
!Makefile.am
!configure.ac
!src/Makefile.am
!src/server.c
!src/server.h
!src/thread.c
!src/thread.h
!src/http_handler.h
